<div class="jumbotron">
	<center>
		<h1>Rambling Ruminitions</h1>
		<h2>while wondering whatever happened to Haley Joel Osment</h2>
		<img src= "https://pbs.twimg.com/media/BxMeokWIcAAgMpV.jpg" ><br>
		<%= link_to "Answers Revealed", blog_posts_path, class: "btn btn-default" %>
	</center>

</div>